<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/admin-header :: common-header">
    </head>
    <body>
<div th:replace="fragments/admin-header :: header"></div>

<div class="admin-patientInfo-view">
    <div>
        <h1>Patient Information</h1>
    </div>

    <script>
        function back() {
            var adminId = sessionStorage.getItem('adminId')
            location.href='admin-patients?adminId=' + adminId
        }
    </script>

    <div>
        <button type="button" class="btn btn-secondary" onclick="back()">Back to Patient List</button>

    </div>

    <div class="admin-patientInfo-table">
        <table class="table table-striped table-bordered" style="text-align:left">
            <thead>
                <tr>
                    <th>Patient ID:  <span th:text="${patient.getPatientId()}"></span></th>
                    <th><button type="submit"  class="btn btn-success">Save</button></th>
                </tr>
            </thead>

            <tr>
                <td><form>First Name: <input type="text" name="firstName" th:placeholder="${patient.getPatientFirstName()}"> </form></td>
                <td>Last Name: <input type="text" name="lastName" th:placeholder="${patient.getPatientLastName()}"> </form></td>
            </tr>

            <tr>
                <td>DOB: <input type="text" name="DOB" th:placeholder="${patient.getPatientDOB()}"> </form></td>
                <td>Gender: <input type="text" name="gender" th:placeholder="${patient.getPatientGender()}"> </form></td>
            </tr>

            <tr>
                <td colspan="2">Contact Information:</td>
            </tr>

            <tr>
                <td>Email: <input type="text" name="email" th:placeholder="${patientContact.getEmail()}"> </form></td>
                <td>Phone: <input type="text" name="phone" th:placeholder="${patientContact.getPhonenumber()}"> </form></td>
            </tr>

            <tr>
                <td>Address: <input type="text" name="address" th:placeholder="${patientContact.getAddress()}"> </form></td>
                <td>City: <input type="text" name="city" th:placeholder="${patientContact.getCity()}"> </form></td>
            </tr>

            <tr>
                <td>State: <input type="text" name="state" th:placeholder="${patientContact.getState()}"> </form></td>
                <td>Zipcode: <input type="text" name="zipcode" th:placeholder="${patientContact.getZipcode()}"> </form></td>
            </tr>

            <tr>
                <td>Appointments History:</td>
                <td><a href="/admin-patient-appointments-history">View</a></td>
            </tr>

            <tr>
                <td>Upcoming Appointments:</td>
                <td><a class="btn btn-primary" th:href="@{/admin-patient-upcoming-appointments(patientId=${patient.getPatientId()})}"> View </a></td>
            </tr>
        </table>
    </div>
</div>




<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>