<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin-header :: common-header">
</head>
<body>
<div th:replace="fragments/admin-header :: header"></div>
<script>
    function filterByName() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("nameFilter");
        filter = input.value.toUpperCase();
        table = document.getElementById("patTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<div class="content">
    <div id="admin-doctor-patient-view-label">
        <h1>Search for Patients</h1>
    </div>

    <form class="admin-portal-search-container" action="/action_page.php">
        <input id="nameFilter" onkeyup="filterByName()" type="text" placeholder="Search for patients..." name="search" style="margin:auto;">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="admin-doctor-patient-table">
        <div class="table-responsive">
            <table id="patTable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date of Birth</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${patients.empty}">
                    <td colspan="2"> No Patients Available </td>
                </tr>
                <tr th:each="patient : ${patients}">
                    <td span th:text="${patient.getPatientId()}"></td>
                    <td><span th:text="${patient.getPatientFirstName()}"></span> <span th:text="${patient.getPatientLastName()}"></span></td>
                    <td>
                        <span th:text="${patient.getPatientDOB().toString().substring(0,10)}"></span>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin-patientInfo(patientId=${patient.getPatientId()})}"> View </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>