<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/admin-header :: common-header">
    </head>
<body>
<div th:replace="fragments/admin-header :: header"></div>

<div class="admin-patientInfo-view">
    <div>
        <h1>Patient Information</h1>
    </div>

    <script>
        function back() {
            var adminId = sessionStorage.getItem('adminId')
            location.href='admin-patients?adminId=' + adminId
        }
    </script>

    <div>
        <button type="button" class="btn btn-secondary" onclick="back()">Back to Patient List</button>
    </div>

    <div class="admin-patientInfo-table">
        <table class="table table-striped table-bordered" style="text-align:left">
            <thead>
            <tr>
                <th>Patient ID: <span th:text="${patient.getPatientId()}"></span></th>
                <th><button type="button" class="btn btn-light"><a th:href="@{/admin-patientInfo-edit(patientId=${patient.getPatientId()})}">Edit Information</a></button></th>
            </tr>
            </thead>

            <tr>
                <td>Fisrt Name: <span th:text="${patient.getPatientFirstName()}"></span></td>
                <td>Last Name: <span th:text="${patient.getPatientLastName()}"></span></td>
            </tr>

            <tr>
                <td>DOB: <span th:text="${patient.getPatientDOB().toString().substring(0,10)}"></span></td>
                <td>Gender: <span th:text="${patient.getPatientGender()}"></span></td>
            </tr>

            <tr>
                <td colspan="2"><b>Contact Information:</b></td>
            </tr>

            <tr>
                <td>Email: <span th:text="${patientContact.getEmail()}"></span></td>
                <td>Phone: <span th:text="${patientContact.getPhonenumber()}"></span></td>
            </tr>

            <tr>
                <td>Address: <span th:text="${patientContact.getAddress()}"></span></td>
                <td>City: <span th:text="${patientContact.getCity()}"></span></td>
            </tr>

            <tr>
                <td>State: <span th:text="${patientContact.getState()}"></span></td>
                <td>Zipcode: <span th:text="${patientContact.getZipcode()}"></span></td>
            </tr>

            <tr>
                <td>Appointments History:</td>
                <td><a class="btn btn-primary" th:href="@{/admin-patient-appointments-history(patientId=${patient.getPatientId()})}"> View </a></td>
            </tr>

            <tr>
                <td>Upcoming Appointments:</td>
                <td><a class="btn btn-primary" th:href="@{/admin-patient-upcoming-appointments(patientId=${patient.getPatientId()})}"> View </a></td>
            </tr>
        </table>
    </div>
</div>




<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>