<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-header :: common-header"> </head>
<div th:replace="fragments/admin-header :: header"></div>

<div class="admin-patientInfo-view">
    <div>
        <h1>Patient Information</h1>
    </div>

    <div>
        <a type="button" class="btn btn-secondary" th:href="@{/admin-patientInfo(patientId=${patient.getPatientId()})}">Back to Patient Info</a>
    </div>

    <div class="admin-patientInfo-table">
        <form th:action="@{/admin-patientInfo-update}" th:object="${updatedPatientInfo}" method="post">
<!--        <form th:action="@{/admin-patientInfo-update}" method="post">-->
        <table class="table table-striped table-bordered" style="text-align:left">
            <thead>
                <tr>
                    <th>Patient ID:  <span th:text="${patient.getPatientId()}"></span></th>
                    <th><button type="submit"  class="btn btn-success" name="saveButton" th:value="${patient.getPatientId()}">Save</button></th>
<!--                    <th><a class="btn btn-success" th:href="@{/admin-patientInfo-update(id=${patient.getPatientId()}, updatedPatient = ${updatedPatient})}"> Save </a></th>-->
                </tr>
            </thead>

            <tr>
                <td>First Name: <input type="text" name="patientFirstName" th:value="${patient.getPatientFirstName()}" required> </td>
                <td>Last Name: <input type="text" name="patientLastName" th:value="${patient.getPatientLastName()}" required> </td>
            </tr>

            <tr>
                <td>DOB: <input type="date" name="patientDOB" th:value="${patient.getPatientDOB()}" required> </td>
                <td>Gender: <input type="text" name="patientGender" th:value="${patient.getPatientGender()}" required> </td>
            </tr>

            <tr>
                <td colspan="2"><b>Contact Information:</b></td>
            </tr>

            <tr>
                <td>Email: <input type="email" name="email" th:value="${patientContact.getEmail()}" required> </td>
                <td>Phone: <input type="text" name="phonenumber" th:value="${patientContact.getPhonenumber()}" required> </td>
            </tr>

            <tr>
                <td>Address: <input type="text" name="address" th:value="${patientContact.getAddress()}" required> </td>
                <td>City: <input type="text" name="city" th:value="${patientContact.getCity()}" required> </td>
            </tr>

            <tr>
                <td>State: <input type="text" name="state" th:value="${patientContact.getState()}" required> </td>
                <td>Zipcode: <input type="number" name="zipcode" th:value="${patientContact.getZipcode()}" required> </td>
            </tr>

            <tr>
                <td>Appointments History:</td>
                <td><a class="btn btn-primary" th:href="@{/admin-patient-appointments-history(patientId=${patient.getPatientId()})}"> View </a></td>
            </tr>

            <tr>
                <td>Upcoming Appointments:</td>
                <td><a class="btn btn-primary" th:href="@{/admin-patient-upcoming-appointments(patientId=${patient.getPatientId()})}"> View </a></td>
            </tr>
        </table>
        </form>
    </div>
</div>




<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>