<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/admin-header :: common-header">
    </head>
<body>
<div th:replace="fragments/admin-header :: header"></div>

<div class="admin-patient-appointments-history-view">
    <div>
        <h1>Patient's Appointment and Billing Information</h1>
    </div>

    <div>
        <a type="button" class="btn btn-secondary" th:href="@{/admin-patientInfo(patientId=${patient.getPatientId()})}">Back to Patient Information </a>
    </div>

    <div class="admin-patientInfo-table">
        <table class="table table-striped table-bordered" style="text-align:left">
            <thead>
            <tr>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>DOB</th>
                <th>Gender</th>
            </tr>
            </thead>

            <tr th:each="Patient:${patient}">

                <td th:text="${patient.getPatientId()}"</td>
                <td th:text="${patient.getPatientFirstName().concat( ' '+ patient.getPatientLastName() ) }"</td>
                <td th:text="${patient.getPatientDOB().toString().substring(0,10)}"</td>
                <td th:text="${patient.getPatientGender()}"</td>
            </tr>
        </table>

        <table class="table table-striped table-bordered" style="text-align:left">
            <thead>
            <tr>
                <th colspan="3">Appointment History</th>
            </tr>
            </thead>

            <tr>
                <td>Appointment ID</td>
                <td>Appointment Details</td>
                <td>Billing Info</td>
            </tr>

            <tbody>

            <tr th:each="appts : ${appointment}">
                <td span th:text="${appts.getAppointmentId()}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/admin-patient-appointment-details(appointmentId=${appts.getAppointmentId()})}"> View </a>
                </td>
                <td><a type="button" class="btn btn-secondary" th:href="@{/admin-patient-billing-info(appointmentId=${appts.getAppointmentId()})}">View</a></td>


            </tr>
            </tbody>

        </table>
    </div>

</div>

<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>