<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/admin-header :: common-header">
    </head>
    <body>
<div th:replace="fragments/admin-header :: header"></div>

<div class="admin-patient-upcoming-appointments-view">
    <div>
        <h1>View and Cancel existing Appointments</h1>
    </div>

    <div>
        <a type="button" class="btn btn-secondary" th:href="@{/admin-patientInfo(patientId=${patient.getPatientId()})}">Back to Patient Information </a>
    </div>

    <div class="admin-patientInfo-table">
        <table class="table table-striped table-bordered" style="text-align:left">
            <thead>
                <tr>
                    <th colspan="4">Upcoming Appointments</th>
                </tr>
            </thead>

            <tr>
                <td>Appointment ID</td>
                <td>Appointment Details</td>
                <td>Date</td>
                <td>Cancel Appointment</td>
            </tr>

            <tbody>
            <tr th:if="${appointments.empty}">
                <td colspan="4"> No Appointments Available </td>
            </tr>
            <tr th:each="appointment : ${appointments}">
                <td span th:text="${appointment.getAppointmentId()}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/admin-patient-upcoming-appointment-details(appointmentId=${appointment.getAppointmentId()})}"> View </a>
                </td>
                <td span th:text="${appointment.getAppointmentDate()}"></td>
                <td>
                    <a class="btn btn-danger" th:href="@{/admin-cancel-appointment(id=${appointment.getAppointmentId()}, delete)}"> Cancel </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>