<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin-header :: common-header">
</head>
<body>
<div th:replace="fragments/admin-header :: header"></div>


<div class="content">
    <div id="admin-doctor-patient-view-label">
        <h1>Search for Patients</h1>
    </div>

    <form class="admin-portal-search-container" action="/action_page.php">
        <input type="text" placeholder="Search for patients..." name="search" style="margin:auto;">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="admin-doctor-patient-table">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date of Birth</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${patients.empty}">
                    <td colspan="2"> No Patients Available </td>
                </tr>
                <tr th:each="patient : ${patients}">
                    <td span th:text="${patient.getPatientId()}"></td>
                    <td th:text="${patient.getPatientFirstName().concat(' ' + patient.getPatientLastName())}"></td>
                    <td span th:text="${patient.getPatientDOB()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin-patientInfo(patientId=${patient.getPatientId()})}"> View </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>