<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/custom.css" rel="stylesheet">
    <script src="js/custom.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="js/application.js"></script>
    <script>
        function login() {
            var user = document.getElementById("username").value
            if (validDoctorIds.indexOf(user) >= 0) {
                location.href='doctor-appointments?doctorId=' + user
                sessionStorage.setItem('doctorId', user)
            }
        }
    </script>
</head>
<body>
<center><h1>
    Login as Doctor</h1>
</center>

<div> <center>

    <form>
        <div class="container">
            <label>Username : </label>
            <input type="text" id="username" placeholder="Enter Username" name="username" >
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" >
            <button onclick="login()" type="button">Login</button>
            <input type="checkbox" checked="checked"> Remember me
            Forgot <a href="#"> password? </a>




        </div>

</center></div>
<div><center>
    <button onclick="location.href='home'" type="button">Go To HomePage</button>

</center></div>
</body>



</html>