<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/doctor-header :: common-header">
    </head>
<body>
<script>
    function back() {
        var doctorId = sessionStorage.getItem('doctorId')
        location.href='doctor-appointments?doctorId=' + doctorId
    }
</script>
<div th:replace="fragments/doctor-header :: header"></div>
<div>
    <button type="button" class="btn btn-secondary" onclick="back()">Back to Patient List</button>

</div>
<div class="doctor-appointment-view">
    <div>
        <h1>Appointment Notes for <span th:text="${patient.patientFirstName}"></span> <span
                th:text="${patient.patientLastName}"></span></h1>
    </div>

    <div style="padding: 25px;">
        <h2>Patient Medical History</h2>
        <div style="width: 45%; height:33%;  margin: auto; padding: 50px;">
            <p th:text="${patientMedHistory}">
            </p>
        </div>
    </div>

    <form action="#" th:action="@{/appointment-notes}" th:object="${apptNotes}" method="post">
        <div style="width:45%; height: 33%; margin: auto; padding: 40px;">
            <h2>Enter appointments notes here:</h2>
            <input type="text" class="form-control" th:field="*{appointmentId}" placeholder="id" hidden="true"/>
            <textarea th:field="*{appointmentNotes}" rows="15" cols="100"></textarea>
        </div>
        <div>
            <button type="submit"  class="btn btn-primary">Save</button>
        </div>
    </form>



</div>


<div th:replace="fragments/app-footer :: footer"></div>
</body>
</html>