<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/patient-header :: common-header">
    </head>
<body>
<div th:replace="fragments/patient-header :: header"></div>


<div class="content">
    <div id="location-patient-view-label">
        <h1>See all locations</h1>
    </div>
    <div class="location">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Location Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${locs.empty}">
                    <td colspan="2"> No Locations Available </td>
                </tr>
                <tr th:each="loc : ${locs}">
                    <td span th:text="${loc.locationName}"></td>
                    <td span th:text="${loc.address}"></td>
                    <td span th:text="${loc.city}"></td>
                    <td span th:text="${loc.state}"></td>
                    <td span th:text="${loc.zipcode}"></td>
                    <td><a th:href="@{/location-view(patientId=${patient.patientId},locationId=${loc.locationid})}">View Location Reviews</a></td>

                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>