<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/viewPages.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div th:replace="fragments/patient-header :: header"></div>

    <div class="top">
        <div class="pic_review">
            <img src="images/placeholder.jpg" height="270" width="300"/>
            <div id="score">
                <h3 style="display: inline; padding: 20px"><span th:text="${location.locationName}"></span></h3>
            </div>
        </div>

        <div class="contactInfo">
            <h2><span th:text="${location.address}"></span></h2>
            <h2><span th:text="${location.city}, ${location.state} ${location.zipcode}"></span></h2>
<!--            <h2>Contact: </h2>-->
<!--            <ul>-->
<!--                <li><h4>123 E. Willow st Concord, IL 70017</h4></li>-->
<!--                <li><h4>(555)-555-555</h4></li>-->
<!--                <li><h4>aHospital@hospital.com</h4></li>-->
<!--            </ul>-->
        </div>

    </div>

    <div class="reviews">
        <div id="reviewText">
            <h2 >Reviews: </h2>
            <h2 style="text-align: right"><a href="/review-page">Leave a Review</a> </h2>
        </div>


        <div id="box">
            <table>
                <tbody>
                <tr th:text="${reviews.locationReview}">
                </tr>
                </tbody>
            </table>
<!--            <div id="container">-->
<!--                <h3>The people here are very nice.</h3>-->
<!--                <span class="fa fa-star checked"></span>-->
<!--                <span class="fa fa-star checked"></span>-->
<!--                <span class="fa fa-star checked"></span>-->
<!--                <span class="fa fa-star checked"></span>-->
<!--                <span class="fa fa-star"></span>-->
<!--            </div>-->

<!--            <div id="container">-->
<!--                <h3>This hospital is really dirty!</h3>-->
<!--                <span class="fa fa-star checked"></span>-->
<!--                <span class="fa fa-star checked"></span>-->
<!--                <span class="fa fa-star"></span>-->
<!--                <span class="fa fa-star"></span>-->
<!--                <span class="fa fa-star"></span>-->
<!--            </div>-->

        </div>


    </div>

</body>
</html>