<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/patient-header :: common-header">
    </head>

<body>
    <div th:replace="fragments/patient-header :: header"></div>
    <div class = "container">
    <div id="doctor-patient-view-label">
        <h1>Schedule a New Appointment!</h1>
    </div>
    <br/>
    <br/>
        <form action="#" th:action="@{/new-appointment}" th:object="${newAppointment}" method="post">
            <div class="row form-group">
                <div class="col-lg-6">
                    <input type="text" class="form-control" th:field="${newAppointment.patientId}" placeholder="Patient" hidden="true"/>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" th:field="${newAppointment.locationId}" placeholder="Location"/>
                        <br/>
                        Enter 1 for Northwestern Hospital
                        <br/>
                        Enter 2 for  Chicago Primary Care
                        <br/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Appointment Type</label>
                    <input type="text" class="form-control" th:field="${newAppointment.doctorId}" placeholder="Doctor">-->
                        <br/>-->
                        Enter 1 for Dr. Jordan-->
                        <br/>-->
                        Enter 2 for  Dr. Seinfeld-->
                        <br/>-->
                        Enter 3 for Dr. Skywalker
                        <br/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Appointment Date and Time</label>
                     <br/>
                    <input type="datetime-local" class="form-control" th:field="*{apptDateTime}">
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" name="submitbutton">Submit</button>
        </form>
</body>

</html>