<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/patient-header :: common-header">
    </head>
<body>
<div th:replace="fragments/patient-header :: header"></div>

<div id="doctor-patient-view-label">
    <h1>Upcoming Appointments for <span th:text="${patient.patientFirstName}"></span>
        <span th:text="${patient.patientLastName}"></span></h1>
</div>

<br/>
<br/>
<div class="doctor-patient-table">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Patient First Name</th>
                <th>Patient Last Name</th>
                <th>Appointment Date/Time</th>
                <th>Physician</th>
                <th>Location</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${appts.empty}">
                <td colspan="2"> No Appointments Available </td>
            </tr>
            <tr th:each="appt : ${appts}">
                <td span th:text="${appt.patient.patientFirstName}"></td>
                <td span th:text="${appt.patient.patientLastName}"></td>
                <td span th:text="${appt.appointmentDate}"></td>
                <td>Dr. <span th:text="${appt.doctor.doctorLastName}"></td>
                <td span th:text="${appt.location.locationName}"></td>
                <td><a class="btn btn-danger" th:href="@{/cancel-appointment(delete,id=${appt.appointmentId})}"> Delete </a></td>
            </tr>
            </tr>
        </table>
    </div>
</div>



<!--    <div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
© 2020 GitHub, Inc.