<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/patient-header :: common-header">
        <link rel="stylesheet" href="../static/css/reviewPage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="top">
        <div id="pic" >
            <h3>Dr. Jane Smith</h3>
            <img src="../static/images/placeholder.jpg" height="270" width="300"/>
        </div>
        <div id="score">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>

    <div class="review">
        <textarea id="comment" type="text"></textarea>
        <br>
        <button id="submit" type="submit">Submit</button>

    </div>


</body>
</html>