<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <!--    <link rel="stylesheet" href="../static/css/reviewPage.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:replace="fragments/patient-header :: header"></div>
<div class="top">
    <div id="pic" >
        <h3><span th:text="${location.locationName}"></span> </h3>

    </div>
</div>


<form action="#" th:action="@{/locationReview-page}" th:object="${locationReview}" method="post">
    <div style="width:45%; height: 33%; margin: auto; padding: 40px;">
        <h2>Leave your review:</h2>
        <input type="text" class="form-control" th:field="*{locationId}" placeholder="doctorId" hidden="true"/>
        <input type="text" class="form-control" th:field="*{patientId}" placeholder="patientId" hidden="true"/>
        <textarea th:field="*{locationReview}" rows="15" cols="100"></textarea>
    </div>
    <div>
        <button type="submit"  class="btn btn-primary">Save</button>
    </div>
</form>


</body>
</html>